*~
/autom4te.cache/
config.log
.*.swp
m200ieth-config.h
m200ieth-config.h.in
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.status
configure
depcomp
install-sh
missing
stamp-h1
/.deps/
